<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <style>
    @font-face {
    font-family: 'Benton Sans Extra Comp Black';
    src: url('fonts/BentonSansExtraCompBlack.ttf') format('truetype');
    }
    </style>
  <title>Marvel Rivals TV</title>

</head>

<body>
  <main>
    <!-- ADD HEADERS HERE-->
    <nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('teams_view') }}">Teams</a>
    <a href="{{ url_for('players_view') }}">Players</a>
    <a href="{{ url_for('matches_view') }}">Matches</a>
    </nav>
    {% block content %}
    <!-- This will be overridden by child templates -->
    {% endblock %}
  </main>

  <footer></footer>
</body>

</html>