{% extends "base.html" %} {% block content %}
<body>
  <h2>Customer: {{ customer.name }}</h2>
  <p>ID: {{ customer.id }}</p>
  <p>Phone: {{ customer.phone }}</p>

  <h4>Pending Orders:</h4>
  <table>
    <tr>
      <th>Order ID</th>
      <th>Price</th>
      <th>Created</th>
      <th>Completed</th>
    </tr>
    {% for order in customer.orders if not order.completed %}

    <tr>
      <td>
        <a href="{{ url_for('orders_id', id=order.id) }}">{{ order.id }}</a>
      </td>
      <td>{{ order.amount }}</td>
      <td>{{ order.created }}</td>
      <td>{{ order.completed }}</td>
    </tr>

    {% endfor %}
  </table>

  <p></p>
  <h4>Completed Orders:</h4>
  <table>
    <tr>
      <th>Order ID</th>
      <th>Price</th>
      <th>Created</th>
      <th>Completed</th>
    </tr>
    {% for order in customer.orders if order.completed %}

    <tr>
      <td>
        <a href="{{ url_for('orders_id', id=order.id) }}">{{ order.id }}</a>
      </td>
      <td>{{ order.amount }}</td>
      <td>{{ order.created }}</td>
      <td>{{ order.completed }}</td>
    </tr>

    {% endfor %}
  </table>
</body>
{% endblock %}
