{% extends "base.html" %}
{% block content %}

  <body>
    <h2>Match Stats:</h2>
    <h1>Score: {{ matches.winner }}</h1>
    <h1>Map: {{ matches.map }}</h1>
    <h1>Date: {{ matches.playdate }}</h1>
    {% for row in teams %}
      {if teams.id == matches.team1_id}
          {% for row in players%}
            {% if players.team == teams.name %}
                {% for row in PlayerStats %}
                  {% if PlayerStats.playerid == players.id %}
                    {% if PlayerStats.matchid == matches.id %}
                      <h1>Team: {{ teams.name }}</h1>
                      <table>
                        <th> {{ player.name }}</th>
                        <th>{{ PlayerStats.kills }}</th>
                        <th>{{ PlayerStats.deaths }}</th>
                        <th>{{ PlayerStats.assists }}</th>
                        <th>{{ PlayerStats.damageDealt }}</th>
                        <th>{{ PlayerStats.damageBlocked }}</th>
                        <th>{{ PlayerStats.healing }}</th>
                        <th>{{ PlayerStats.accuracy }}</th>
                        <th>{{ PlayerStats.characterPlayed }}</th>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endif %}
          {% endfor %}
      {% endif %}
    {% endfor %}
    {% for row in teams %}
      {if teams.id == matches.team1_id}
          {% for row in players%}
            {% if players.team == teams.name %}
                {% for row in PlayerStats %}
                  {% if PlayerStats.playerid == players.id %}
                    {% if PlayerStats.matchid == matches.id %}
                      <h1>Team: {{ teams.name }}</h1>
                      <table>
                        <th> {{ player.name }}</th>
                        <th>{{ PlayerStats.kills }}</th>
                        <th>{{ PlayerStats.deaths }}</th>
                        <th>{{ PlayerStats.assists }}</th>
                        <th>{{ PlayerStats.damageDealt }}</th>
                        <th>{{ PlayerStats.damageBlocked }}</th>
                        <th>{{ PlayerStats.healing }}</th>
                        <th>{{ PlayerStats.accuracy }}</th>
                        <th>{{ PlayerStats.characterPlayed }}</th>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endif %}
          {% endfor %}
      {% endif %}
    {% endfor %}
    </table>
  </body>

  {% endblock %}