{% extends "base.html" %}
{% block content %}

  <body>
    <h1>Players</h1>
    {% for row in players %}
      {% if loop.index0 % 6 == 0 %}
        <h3 class="teams-header"> {{ row.team.name }} </h3>
      {% elif loop.index0 == 0 %}
        <h3 class="teams-header"> {{ row.team.name }} </h3>
      {% endif %}
      <p class="player-name">{{ row.name }} as <a href="{{ url_for('player_id', id=row.id) }}"> {{ row.gamertag }} </p>
    {% endfor %}

    <!-- <table id="players">
        <th>Username</th>
        <th>Name</th>

        <th>Team</th>
      </tr>
      {% for row in players %}
      <tr>
        <td><a href="{{ url_for('player_id', id=row.id) }}">{{ row.gamertag }}</td>
        <td>{{ row.name }}</td>

        <td>{{ row.team.name }}</td>
      </tr>
      {% endfor %}

    </table> -->
  </body>

  {% endblock %}