{% extends "base.html" %}
{% block content %}
  <body>
    <h2>{{ name }} Details</h2>
    <table>
      <th>Players</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
      {% for row in team %}
      <tr>
        <td><a href="{{ url_for('player_id', id=row.id) }}"
          >{{ row.gamertag }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.age }}</td>
      </tr>
      {% endfor %}
    </table>
    
    <h3>Team Winrate:</h3>
    <p>*not implemented yet*</p>

    <h3>Upcoming Matches</h3>
    <table>
      <tr>
        <!-- <th>Match ID</th> -->
        <th>Team 1</th>
        <th>Team 2</th>

        <th>Played Date</th>
        <th>Map</th>
      </tr>
      {% for match in upcoming_matches %}
      <tr>
        <!-- <td>{{ match.id }}</td> -->
        <td>{{ match.team1.name }}</td>
        <td>{{ match.team2.name }}</td>

        <td><a href="{{ url_for('matches_details', id=match.id) }}"
          >{{ match.play_date.strftime('%B %d, %Y, %I:%M %p') }}</a</td>
        <td>{{ match.map }}</td>
      </tr>
      {% endfor %}
    </table>
  
    <h3>Completed Matches</h3>
    <table>
      <tr>
        <!-- <th>Match ID</th> -->
        <th>Team 1</th>
        <th>Team 2</th>
        
        <th>Played Date</th>
        <th>Map</th>
        <th>Winner</th>
      </tr>
      {% for match in completed_matches %}
      <tr>
        <!-- <td>{{ match.id }}</td> -->
        <td>{{ match.team1.name }}</td>
        <td>{{ match.team2.name }}</td>
        
        <td><a href="{{ url_for('matches_details', id=match.id) }}"
          >{{ match.play_date.strftime('%B %d, %Y, %I:%M %p') }}</a</td>
        <td>{{ match.map }}</td>
        <td>{{ match.winner }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
{% endblock %}
