/* colors
Yellow: #f1d131
White: #e9eaec
Dark Grey: #33334b */

/* headings */

h1 {
  font-size: 2.5rem;
  color: #2E2F5F;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana,Geneva,sans-serif;

}

h2,h3,h4,h5,h6{
    color: #2E2F5F;
    font-size: 1.5rem;
    font-family: Verdana,Geneva,sans-serif;
}
h2 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
h3 {
  padding: 4rem;
}
h4 {
  padding: 4rem;
}

body {
  background-color:#A6ACD0;
} 

nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 1.5rem; 
}

a {
  color: #2E2F5F
}

nav a {
  font-size: 1.2rem;
  color: #f1d131;
  text-decoration: none;
  /* padding: 2rem; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a {
    font-size: 1.2rem;
    /* padding: 0.8rem 1.5rem; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 2px solid #f1d131; */
    border-radius: 10px;
    background-color: transparent;
    display: inline-block;
    transition: all 0.3s ease;
    margin: 0 0.5rem;
  }

a {
    text-decoration: none;
}
a:hover {
  color: #e9eaec;
  
}
#matches a {
  font-size: 1.3rem;
  font-family: 'Benton Sans Extra Comp Black', sans-serif;
}
#players a {
  font-size: 1.3rem;
  font-family: 'Benton Sans Extra Comp Black', sans-serif;
}
#teams a {
  font-size: 1.3rem;
  font-family: 'Benton Sans Extra Comp Black', sans-serif;
}
#player_single h2{
    font-size: 2.4rem;
}
/* body font */
p {
  color: #2E2F5F;
  font-size: 1.3rem;
  padding-left: 4rem;
  font-family: 'Benton Sans Extra Comp Black', sans-serif;
}

/* tables */
table {
  width: 75%;
  border-collapse: collapse;
  /* Ensures borders don't double up */
  border: 2px solid #e9eaec;
  /* Outer border */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

th,
td {
  border: 2px solid #2E2F5F;
  /* Borders inside the table */
  padding: 8px;
  text-align: left;
  color: #2E2F5F;
  font-size: 1.3rem;
  font-family: 'Benton Sans Extra Comp Black', sans-serif;
}

th {
  color: #f1d131;
  background-color: #00000058;
}

tr:nth-child(even) {
  background-color: #00000014;
}

tr:nth-child(odd) {
  background-color: #0000003e;
}

.iframe-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom:20px;
    }

.teams-in-match {
  padding: 0;
  padding-top: 15px;
  text-align: center;
}

.time-of-match {
  padding: 0;
  padding-bottom: 25px;
  text-align: center;
}

.teams-header {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.player-name {
  padding: 0;
  color: #2E2F5F;
  text-align: center;
}

.team-name {
  padding-right: 950px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* space between blocks */
  padding: 20px;
}

.team-block {
  color: #2E2F5F;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.team-block:hover {
  background-color: #2f2f46;
}

.nav-bar {
  background-color:#2E2F5F;
  padding-bottom: .25px;
  padding-top: 20px;
}

.bottom-border {
  padding:10px;
  background-color:#D2DDFD;
  margin-bottom: 20px;
}

.login-container {
background: white;
padding: 2rem;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 400px;
margin-top: 50px;
margin-left: 440px;
}
        
.form-header {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}
        
.form-group {
  margin-bottom: 1rem;
}
        
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
        
button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}

.home {
  padding-right: 300px;
}

.matches {
  padding-right:370px;
}

.team-logo {
  width: 125px;
  height: 100px;
  object-position: center;
}
.player-card {
  max-width: 2200px;
  /* Adjust as needed */
}

.player-content {
  display: flex;
}

.player-image {
  max-width: 400px;
  height: auto;

}

.player-gamertag {
  align-items: center;
}

.player-avatar {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-left: 40px;
  border: 10px solid #b3c3f2;
  border-radius:10px;
}

.player-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* Focus on the center */

}

.biography {
  width: 600px;
  padding: 10px;
  overflow:visible;
  word-wrap: break-word;
}

.player-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 70px;
}

.team-name-matches {
  padding-top: 40px;
  padding-right: 600px;
}